
.header {
	display: flex;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}


.close-btn {
    margin-left: 440px;
	margin-top: 10px;
   
    background-color: #ff5c5c;
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
	 z-index: 3;
}


.header-text {
    font-weight: bold;
}


/*bajo*/
.button-containerh {
    display: flex;
    justify-content: space-between; /* Espacia los botones */
    width: 100%;
    margin-top: -10px;
	position: relative;
	z-index: 3;
	
}

.izq-btn, .der-btn {
	position: relative;
    background-color: #00a2ff;
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
	
}

.izq-btn img, .der-btn img {
    width: 20px; /* Tamaño deseado para las imágenes de los botones */
    height: auto; /* Altura automática para mantener la proporción */
}

.der-btn {
    margin-left: auto; /* Asegura que el botón derecho esté separado */
}

.der-btn:disabled {
    background-color: lightgray; /* Color cuando está desactivado */
    color: gray; /* Color del texto cuando está desactivado */
    opacity: 0.1; /* Opacidad cuando está desactivado */
}

.der-btn:not(:disabled) {
    background-color: #00a2ff; /* Color original cuando está activado */
    color: white; /* Color del texto cuando está activado */
    opacity: 1; /* Opacidad cuando está activado */
}

.izq-btn:disabled {
    background-color: lightgray; /* Color cuando está desactivado */
    color: gray; /* Color del texto cuando está desactivado */
    opacity: 0.1; /* Opacidad cuando está desactivado */
}

.close-btn.clicked{
	background-color: white;
    color: black;
    
}

.button-containerh button.clicked {
    background-color: white; /* Cambiar color al hacer clic */
}


 .image {
            opacity: 0;
           
        }