* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
   line-height: 1.6;
   background-color: #001E88;
}
html, body {
    height: 100%;
    margin: 0;
}


.content {
    max-width: 1200px;
     margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('imagenes/fondo.png') no-repeat center center/cover;
    opacity: 0.3; /* Ajusta el nivel de transparencia aquí */
    z-index: 1;
}

.card {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    flex: 1 1 calc(33% - 2rem);
    box-sizing: border-box;
}


@media (max-width: 768px) {
    
    .content {
        flex-direction: column;
    }

}
