* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #001E88;
    color: #fff;
    padding: 1rem 0;
	font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

.logo {
    font-size: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 3px;
}

.hero {
    background: #f4f4f4;
    padding: 3rem 0;
    text-align: center;
}

.content {
    max-width: 1200px;
    margin: 0auto;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	background: white
   
}


.card {
    background: #fff;
    padding: 1rem;
   
    margin: 1rem 0;
    flex: 1 1 calc(33% - 2rem);
    box-sizing: border-box;
	background-image: url('imagenes/escalera3.png'); /* Ruta de la imagen de fondo */
    background-size: 150% 100%; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center;
	background-repeat: no-repeat; 
	overflow: auto;
	position: relative;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    .menu-toggle {
        display: flex;
    }

    .content {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    align-items: center;
}

th, td {
   
    text-align: center;
    padding: 8px;
	width: 10%;
    height: 100px;
	vertical-align: middle; 
	position: relative;
	font-weight: bold;
	
}



.circulo {
      width: 80px;
      height: 80px;
      border-radius: 50%; /* Esto hace que tenga forma de círculo */
      overflow: hidden; /* Para ocultar cualquier contenido que se desborde */
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Esto agrega un sombreado */
	 display: flex;
    justify-content: center;
    align-items: center;
	background-color: white;
      
    }

    .circulo img {
      width: 100%; /* Para que la imagen ocupe todo el espacio dentro del círculo */
      height: auto; /* Para mantener la proporción */
    }
	
	
	
	/* Estilos para las celdas con imágenes */
.bg-color-0, .bg-color-1,.bg-color-2, .bg-color-3, .bg-color-4, .bg-color-5 {
    position: relative; /* Necesario para superponer el fondo negro */
}
.bg-color-0::before,
.bg-color-1::before,
.bg-color-2::before,
.bg-color-3::before,
.bg-color-4::before,
.bg-color-5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro */
    opacity: var(--opacity-before, 1);  /* Inicialmente oculto */
    pointer-events: none; /* No permite interacción */
    transition: opacity 0.3s ease; /* Transición suave */
}

/* Mostrar el fondo semitransparente cuando se hace hover en la celda */
.bg-color-0:hover::before,
.bg-color-1:hover::before,
.bg-color-2:hover::before,
.bg-color-3:hover::before,
.bg-color-4:hover::before,
.bg-color-5:hover::before {
    opacity: 1;
}

/* Estilo adicional cuando la celda está activa */
.bg-color-0.active::before,
.bg-color-1.active::before,
.bg-color-2.active::before,
.bg-color-3.active::before,
.bg-color-4.active::before,
.bg-color-5.active::before{
    opacity: 0; /* Ocultar el fondo semitransparente cuando la celda está activa */
}


.logoimg {
    width: 50px; /* Tamaño deseado del ancho */
    height: auto; /* Altura automática para mantener la proporción */
}
.logo-text {
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
	
}

.hero {
    background: #333;
    padding: 0.5rem 0;
    text-align: center;
}



/* Estilo para el fondo semi-transparente */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Color negro semi-transparente */
    z-index: 1000; /* Asegura que esté sobre todos los demás elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Visible al inicio */
    transition: opacity 0.5s ease-out; /* Transición suave */
}

/* Estilo para la imagen de carga */
.loading-image {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 100%; /* Ajusta el tamaño máximo de la imagen */
    animation: fadeIn 0.5s ease-out; /* Animación de aparición */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Clase para esconder la capa de carga */
.hide {
    opacity: 0; /* Hace invisible */
    pointer-events: none; /* No permite interacción */
}

